.AlquilerVentaButtons{
    position: relative;
    top: -48vw;
    z-index: 10;
    left: 35.9%;    
    z-index: 20;
}
.searchBarContainer{
  position: relative;
  margin-top: -16vw;
}
@media only screen and (max-width: 700px) {
  .mainHomeSearchBarContainer{
    position: absolute;
    top: -440px;
    left: -1000%;   
  }
}





.filterButtonVentasOn, .filterButtonAlquileresOff, .filterButtonVentasOff, .filterButtonAlquileresOn{
    font-size: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
    border-radius: 35px;
    padding: 1.2% 2% 1.2% ;    
    border: none;    
}
.filterButtonVentasOn, .filterButtonAlquileresOn{
    background-color: white;
    font-weight: 500;
}
.filterButtonAlquileresOff, .filterButtonVentasOff {
    background-color: rgb(155, 155, 155);
    color: white;
    opacity: 0.6;
    font-weight: 300;
}
.filterButtonAlquileresOff :hover{
    background-color: crimson;
}
.filterButtonVentasOff :hover{
    background-color: crimson;
}

.searchBarContainer{
    width: 86%;
    height: 7vw;
    background-color: white;
    position: relative;
    top: -29vw;
    
    border-radius: 40px;
    left: 7%;
}
/* HomeSearchBar.module.css */
.searchBarContainer {
    display: flex;
    flex-wrap: wrap;
    z-index: 11;    
  }
  
  .searchBarContainer > p {
    flex: 0 0 auto;
    margin-right: 10px; /* Adjust as needed */
    left: 20px;
  }
  
  .searchBarContainer > label {
    flex: 1 1 auto;
  }
  
  /* Add additional styling as needed */
  .categorias{
    margin-left: 5%;
  }
  .opt{
    border: none;        
    font-size: 14px;
    color: rgb(101, 99, 99);
    position: relative;
    top: -10%;
    left: -2%;
    width: 190px;
    max-width: 190px;
  }
  .buscar{
    margin-top: 6%;
    height: 4.5vw;
    background: rgb(236,69,24);
    background: linear-gradient(90deg, rgba(236,69,24,1) 0%, rgba(191,35,84,1) 100%);
    color: white;
    font-size: 20px;
    border: none;
    width: 20vw;
    border-radius: 35px;
  }
  
  .buscar > span{
    margin-left: 10%;
    position: relative;
    top: -10px;
  }

  .butttonBuscar :hover{        
    background: linear-gradient(90deg, rgb(236, 130, 24) 0%, rgba(191, 35, 84, 0.87) 100%);
  }
  .buscar :hover{
    font-size: 24px;
    background: none;
  }