.oppMaincontainter{    
    padding-top: 1%;
    padding-bottom: 1%;    
}
.OppCardContainer{
    width: 20em;
    height: 100%;
    color: white;    
    border-radius: 15px;
}
.OppCardContainer:hover{
    color: rgb(235, 92, 20);
    background-color: white;
}
.oppCardImgContainer{
    padding: 1% 0% 1% 0%;    
}
.oppCard{
    width: 20em;
    height: 14em;    
    border-radius: 15px;
}
.oppPrice{
    font-weight: 700;
    font-size: 24px;
    margin-left: 12%;
    margin-top: -15%;
}

.oppText1{
    margin-left: 3%;
    margin-top: 2%;
}

.oppText2{
    margin-left: 3%;    
    color: gray;
}

.kind{
    color: #E43138;
    margin-left: 3%;
    font-size: 13px;
    font-weight: 600;
}