.opSpan{ 
    margin-top: 5%;
    margin-left: 5.4%;
    text-align: center;
    margin-bottom: 5%;
    color: white ;
    font-size: 20px;
    font-weight: 500;
}
.opFondo{
    vertical-align:middle;
    background-color: black;
    position: relative;
    top: -212px;
    height: 540px;
}
.oppCardContainer{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 92%;
    justify-content: space-around;     
}