/* Fondo del componente, en negro y con una altura mayor a las imagenes*/
.fondo {
    height: 150vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
}

/* .RentSaleCardContainer{
    display: flex;
    width: 100%;    
    min-width: 100%;
    margin-top: 1.5vw;        
    height: 460px;
    background-color: rgb(0, 0, 0);    
} */
.AllCardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
    top: -8vw;    
    background-color: rgb(0, 0, 0);
    position: relative;    
}

.leftCard, .middleCard, .rightCard{             
    background-color: rgb(0, 0, 0);    
    margin-top: 71px;
    position: inherit;
    width: 500px;    
}

.leftCard{
    z-index: 1;     
    left: 0; 
    margin-left: 300px;    
}

.middleCard{
    z-index: 3;      
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -ms-transform: skew(20deg);
    -o-transform: skew(20deg);
    transform: skew(-20deg);    
    margin-left: -8vw;
    margin-right: -8vw;        
}

.rightCard{    
    z-index: 2;  
    margin-right: 300px;     
}

.imagesContainer{
    width: 100%;
    height: 100%;   
    overflow: hidden;   
    
}
.LeftImageCss{
    width: 700px;
    height: 500px;
    position: relative;       
    object-fit: cover;
    z-index: -1;
    left: 0;
}
.middleImageCss{
    width: 700px;
    height: 500px;
    position: relative;       
    top: -0%;
    margin-left: -92px;    
    transform: skew(20deg);
    object-fit: cover;
    
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Negro con 30% de opacidad */
    z-index: 2; /* Encima de la imagen, pero debajo del logo */
}

.RightImageCss{
    width: 700px;
    height: 500px;
    position: relative;    
    z-index: -1; 
    object-fit: cover;
}

/* Contenedor del logo */
.logoContainer{    
    position: absolute;
    width: 260px;    
    left: 30%;
    top: 400px;    
}

.logoImg{
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    top: -32vw;
    z-index: 6; 
    left: 28%;
}

.bottom{
    position: relative;
    background-color: black;
    width: 100%;
    height: 15vw;
    top: -7vw;
    color: white;
}
.oportunidades{
    position: relative;
    font-size: 3.5vw;
    font-weight: 300;
    top: 9vw;
    left: 5vw;
}
.exclusivas{
    position: relative;
    font-size: 3.5vw;
    font-weight: 300;
    top: 0.9vw;
    left: 33vw;
    font-style: italic;
    font-weight: 800;
}
.condecoracion{
    position: relative;
    top: -7vw;
    left: 55vw;
}
.condecoracionImg{
    width: 4vw;
}


@media only screen and (max-width: 700px) {
    .AllCardsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: -23vw;        
        background-color: rgb(0, 0, 0);
        position: relative;
    }
    .leftCard{
        margin-left: 60vh;
    }
  
    .middleCard{
        width: 300px;
        margin-left: -20vh;
        margin-right: -30vh;  
    }
    .logoContainer{    
        position: absolute;       
        left: -8vh;
        top: 33vh;    
    }
    .logoImg{
        width: 80vw;
    }
    .flechasContainer{
        position: absolute;       
        left: 2vh;
        top: 23vh;    
        z-index: 30;
    }
    .flechaIzquierda{
        position: absolute;
        color: white;
        font-size: 70px;
        font-weight: 400;        
        margin-left: 10px;   
        margin-top: 30vh;     
    }
    .flechaDerecha{
        position: absolute;
        color: white;
        font-size: 70px;
        font-weight: 400;            
        left: 84vw;
        margin-top: 30vh;     
    }
    .oportunidades{
        font-size: 10vw;
        top: -17vw;
    }
    .exclusivas{
        font-size: 10vw;
        top: -30vw;
        left: 5vw;
    }
}