.saleButton{
    background-color: #E43138;
    color: white;
    font-size: 0.8em;
    padding-top: 1%;
    padding-bottom: 1.5%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 6px;
    margin-right: 4%;
}