.ourOfficesContainer{
    position: relative;
    background-color: #999999;
    height: 100vw;
    display: flex;
    align-items:flex-start;
    color: white
}
.OurOffadress{
    font-size: 1.5vw;
}
.OurOfficefrizzoLogo{
    position: relative;
    width: 23vw;
    left: 60%;
}
.OurOfNtrasOff{
    font-size: 3.9vw;
    font-weight: 800;
}
