.ourOfficesContainer{
    position: relative;
    background-color: #999999;
    height: 100vw;
    display: flex;
    align-items:flex-start;
    color: white
}
.OurOffadress{
    font-size: 1.5vw;
}
.OurOfficefrizzoLogo{
    position: relative;
    width: 20vw;
    left: 30%;
}
.OurOfNtrasOff, .OurOfNtrasOff2{
    position: relative;
    font-size: 3.9vw;
    font-weight: 800;    
}
.OurOfNtrasOff{
    right: 20%;
}
.OurOfNtrasOff2{
    left: 32%;
    top: -2vw;
}
.OurOffLocation{
    position: relative;
    margin-left: 4vw;
    width: 2.3vw;
    top: -5vw;
}
.OurOffadress{
    position: relative;
    margin-left: 0.5vw;
    top: -5.5vw;
}
.OurOffHorarios{
    background: linear-gradient(90deg, rgba(236,69,24,1) 0%, rgba(191,35,84,1) 100%);
    width: 60%;
    margin-left: 20%;
    height: 6vw;
    font-weight: 800;
    font-size: 18px;
}