.ourOfficesContainer{
    position: relative;
    background-color: #999999;
    height: 46vw;
    display: flex;
    align-items:flex-start;
    color: white
}
.OurOffadress{
    font-size: 1.5vw;
}
.OurOfButton{
    background: linear-gradient(90deg, rgba(236,69,24,1) 0%, rgba(191,35,84,1) 100%);
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    width: 50%;
    height: 36px;
    border-radius: 15px;
    align-items: center;
    margin-left: 20%;
    top: -50px;
    position: relative;
}

.OurOfficefrizzoLogo{
    position: relative;
    width: 20vw;
    left: 25%;
}
.OurOfNtrasOff, .OurOfNtrasOff2{
    position: relative;
    font-size: 3.9vw;
    font-weight: 800;    
}
.OurOfNtrasOff{
    right: 25%;
}
.OurOfNtrasOff2{
    left: 27%;
    top: -2vw;
}
.OurOffLocation{
    position: relative;
    margin-left: 4vw;
    width: 2.3vw;
    top: -5vw;
}
.OurOffadress{
    position: relative;
    margin-left: 0.5vw;
    top: -5.5vw;
}



.OurOffHorarios{
    background: linear-gradient(90deg, rgba(236,69,24,1) 0%, rgba(191,35,84,1) 100%);
    width: 60%;
    margin-left: 20%;
    height: 4vw;
    font-weight: 800;
    font-size: 18px;
    text-align: center; 
    align-content: center;
}
.OurOffHorarios2{
    background: gainsboro;
    color: black;
    width: 60%;
    margin-left: 20%;
    height: 11vw;
    font-weight: 500;
    font-size: 16px;
    text-align: center;  
    align-content: center;  
}