.commentCardContainer{
    height: 600px;
    background-color: #E43138;
    width: 300px;
    color: white;
    border: 6px solid black;
    border-radius: 25px;
    position: relative;
    top: -250px;
    font-size: 21px;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    position:relative
}
.cardUserdataContainer{
    position: relative ;
    height: 100px;
    width: 110%;
    margin-left: -5%;
    background-color: rgb(63, 56, 56);
    margin-top: 175px;    
    border-radius: 0px 0px 20px 20px;    
}
.cardUserComment{
    margin-left: 10px;
    font-style: italic;
    font-weight: 400;
}

.cardUserPic{
    width: 6vw;
    margin-left: 5px;
    margin-top: 10px;
    background-color: #E43138;
    border-radius: 40px;
}
.cardUsername{
    font-weight: 600;
    position: relative;
    top: -35px;
    margin-left: 30px;
}