.MapContainer{
    height: 25em;
    width: 25em;
    margin-left: 1em;
    margin-top: 3em;
    margin-bottom: 5em;
    border: 5px solid rgba(191,35,84,1);
    border-radius: 50%;   
    background: linear-gradient(to rigth, rgba(236,69,24,1),  rgba(191,35,84,1));
}
.mapDiv{
    display: flex;
}
.borderGradientRizzo {
    border-image-source: linear-gradient(to left, rgba(236,69,24,1),  rgba(191,35,84,1));
}

